<ion-header>
	<ion-navbar>
		<ion-title *ngIf="currentUser.email == ''">Iniciar Sesión</ion-title>
		<ion-title *ngIf="currentUser.email != ''"> Perfil</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding >
	<div *ngIf="currentUser.email == ''" >
		<ion-list>
			 <ion-item>
			   <ion-label floating>Correo</ion-label>
			   <ion-input [(ngModel)]="username" type="text" value=""></ion-input>
			 </ion-item>
			 <ion-item>
			   <ion-label floating>Contraseña</ion-label>
			   <ion-input [(ngModel)]="password"  type="password" value=""></ion-input>
			 </ion-item>
		</ion-list>
		<div padding>
			<button ion-button icon-left (click)="login()">
			    Iniciar Sesión
			</button>
			<button ion-button icon-right>
			    Registrarse
			</button>
		</div>
	</div>
	<div *ngIf="currentUser.email != ''" >
	</div>
</ion-content>	

