<ion-header>
	<ion-navbar>
		<ion-title *ngIf="currentUser.email == ''">Iniciar Sesión</ion-title>
		<ion-title *ngIf="currentUser.email != ''"> Perfil</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding >
	<div *ngIf="currentUser.email == ''" >
		<ion-list>
			 <ion-item>
			   <ion-label floating>Correo</ion-label>
			   <ion-input [(ngModel)]="username" type="text" value=""></ion-input>
			 </ion-item>
			 <ion-item>
			   <ion-label floating>Contraseña</ion-label>
			   <ion-input [(ngModel)]="password"  type="password" value=""></ion-input>
			 </ion-item>
		</ion-list>
		<div padding>
			<button ion-button icon-left (click)="login()">
			    Iniciar Sesión
			</button>
			<button ion-button icon-right>
			    Registrarse
			</button>
		</div>
	</div>
	<div *ngIf="currentUser.email != ''" >

	  	<ion-list>
		    <ion-item>
		    	<ion-avatar item-left>
		        	<img [src]="currentUser.avatar">
		        </ion-avatar>
		        <h2>{{currentUser.email}}</h2>
		        <p>{{currentUser.name}}</p>
		    </ion-item>

	    	<ion-item>
	        	Clasificados
	      	</ion-item>

	    	<ion-item>
	        Cantidad
	        	<ion-note item-right>
	          		0
	        	</ion-note>
	      	</ion-item>

	    	<ion-item>
	        Vendidos
	        	<ion-note item-right>
	          		0
	        	</ion-note>
	      	</ion-item>

		</ion-list>
	</div>
</ion-content>	

