<ion-header>
  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="publicationOptions">
        <ion-segment-button value="publicaciones_ventas">
          Publicaciones en Venta
        </ion-segment-button>
        <ion-segment-button value="selling">
          Vender
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="publicationOptions">

    <!-- Selling section -->
    <div *ngSwitchCase="'selling'">

      <div *ngIf="email != ''">
        <ion-list>
          <ion-item>
            <ion-input type="text" [(ngModel)]="newProduct.place_name" placeholder="Nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="newProduct.price"  placeholder="Agregar un precio"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text"  [(ngModel)]="newProduct.place_descripcion" placeholder="Describe el articulo"></ion-input>
          </ion-item>
        </ion-list>
        
        <div padding>
          <button ion-button color="primary" block (click)="createNewPublication(newProduct)">Publicar</button>
        </div>


        <ion-list style="padding-top: 30px;">
          <ion-list-header style="font-size: 20px;">
            Mis publicaciones en venta
          </ion-list-header>
          <ion-item *ngFor="let publication of this.publications[0]">
            <ion-thumbnail item-left>
              <img src="{{ 'http://guiachivilcoy.com'+publication.data.images[0].photo }}">
            </ion-thumbnail>
            <h2> {{  publication.data.name }}</h2>
            <p>$ 198.00</p>
            <p>
              <button ion-button color="danger" icon-left>
                <ion-icon name='close'></ion-icon>
                  Marcar como vendido
              </button>
            </p>
            <button ion-button clear item-right (click)="openPublicationDetailPage(publication)"><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="email == ''">

          <ion-card>

            <img src="assets/img/comeLogin.png"/>

            <ion-card-content>
              <ion-card-title>
                Bienvenido a Chivilcoy Clasificados!
              </ion-card-title>
              <p>
                Para comenzar a vender tus productos tenés que ingresar con tu cuenta chivilcoy:
              </p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button icon-left style="margin-left: 3%;" (click)="goLogin()">
                  <ion-icon name='person'></ion-icon>
                  Ingresar
                </button>
              </ion-col>
            </ion-row>

          </ion-card>
      </div>

    </div>

    
    <!-- Publications section -->
    <div *ngSwitchCase="'publicaciones_ventas'">
      <ion-searchbar ng-show="publicationOptions =='selling'" [(ngModel)]="newSearch" (ionInput)="searchClassifieds()"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let publication of this.publications[0]">
          <ion-thumbnail item-left>
            <img src="{{ 'http://lvh.me:3000'+publication.data.images[0].photo }}">
          </ion-thumbnail>
          <h2> {{  publication.data.name }}</h2>
          <p></p>
          <button ion-button clear item-right (click)="openPublicationDetailPage(publication)" >Más</button>
        </ion-item>
      </ion-list>
    </div>

  </div>

</ion-content>  